/* Schrift Arten*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*                Farben            */
    --body-color: #E4E9F7;
    --navbar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDD;
    --text-color: #6e6e6e;
    /*                  Transition           */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-03);
}

body.dark {
    --body-color: #18191A;
    --navbar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}


/*               Resuable CSS              */

.navbar .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar .image {
    align-items: center;
}


/*                 Navbar                  */
.navbar {
    height: 65px;
    width: 100%;
    background: var(--navbar-color);
    position: fixed;
    z-index: 100;
}

.navbar li {
    position: absolute;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}
@media(min-width:1005px){
    .navbar li {
        margin-left: 55%;
    }
}
.navbar li {
    font-size: 219%;
    margin-top: 7.5px;
    justify-content: space-around;
}

.navbar li text {
    color: var(--text-color);
    transition: var(--tran-03);
}

img {
    width: 55px;
    margin-top: 3.15835px;
    margin-left: 0.7%;
}

.navbar header .image text {
    display: flex;
}

.name {
    position: absolute;
    margin-left: 19%;
    margin-top: 9.5px;
    margin-bottom: 9.5px;
    color: var(--text-color);
}

.navbar li a {
    width: auto;
    height: auto;
    text-decoration: none;
    border-radius: 25px;
    transition: var(--tran-04);
}

.navbar .nav-text {
    font-size: 25px;
    height: 45px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-text1 {
    font-size: 25px;
    height: 45px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-text2 {
    font-size: 25px;
    height: 45px;
    width: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar li a:hover {
    background: var(--primary-color);
}

.navbar li a:hover .text {
    color: var(--navbar-color);
}

body.dark .navbar li a:hover .text {
    color: var(--text-color);
}

.kleiner {
    height: 65px;
}

.navlink {
    width: 28%;
}

.moon-sun {
    color: var(--text-color);
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    height: 35px;
    width: 35px;
    margin-left: 86%;
    position:fixed;

}

.mode i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-03);
}

.mode i.sun {
    opacity: 0;
}

body.dark .mode i.sun {
    opacity: 1;
}

body.dark .mode i.moon {
    opacity: 0;
}

.home {
    position: relative;
    top: 65px;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

@media (min-width:1004){
    .navbar li {
        margin-left: 90%;
    }
}
